<div class="row">
  <div class="col-sm-3">
    <a class="btn" id="characterList">Back to character list...</a>
  </div>
  <div class="col-sm-6">
  </div>
  <div class="col-sm-3 text-right" >
    <a class="btn" id="editMode">Edit Mode</a>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="well">
      <h4 class="text-center">Background</h4>
      <strong>System</strong>: <span><%= system %></span><br/>
      <strong>Setting</strong>: <span><%= setting %></span><br/>
      <strong>Player</strong>: <span><%= player %></span><br/>
      <strong>Name</strong>: <span><%= name %></span><br/>
      <strong>Race</strong>: <span><%= race %></span><br/>
      <strong>Rank</strong>: <span><%= rank %></span><br/>
      <strong>Experience</strong>: <span><%= xp %></span><br/>

    </div>
    <div class="well">
      <h4 class="text-center">Skills</h4>
      <div id="skills"></div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well">
      <h4 class="text-center">Attributes</h4>
      <strong>Agility</strong>: <span ><%= agility %></span><br/>
      <strong>Smarts</strong>: <span ><%= smarts %></span><br/>
      <strong>Spirit</strong>: <span ><%= spirit %></span><br/>
      <strong>Strength</strong>: <span ><%= strength %></span><br/>
      <strong>Vigor</strong>: <span ><%= vigor %></span>
    </div>
    <div class="well">
      <h4 class="text-center">Derived Statistics</h4>
      <strong>Pace</strong>: <span ><%= pace %></span><br/>
      <strong>Parry</strong>: <span ><%= parry %></span><br/>
      <strong>Toughness</strong>: <span ><%= toughness %></span><br/>
      <strong>Charisma</strong>: <span ><%= charisma %></span><br/>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well">
      <h4 class="text-center">Edges</h4>
      <div id="edges"></div>
    </div>
    <div class="well">
      <h4 class="text-center">Hindrances</h4>
      <div id="hindrances"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="well">
      <h4 class="text-center">Weapons</h4>
      <div id="weapons"></div>
    </div>
  </div>
</div>
