<div class="row">
    <!-- FACEBOOK INFORMATION -->
    <div class="col-sm-4">
        <div class="well">
            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

            <!-- check if the user has this token (is the user authenticated with this social account) -->
                <p>
                    <strong>id</strong>: <span style="word-break:break-all;"><%= facebook_id %></span><br/>
                    <strong>token</strong>: <span style="word-break:break-all;"><%= facebook_token %></span><br/>
                    <strong>email</strong>: <span style="word-break:break-all;"><%= facebook_email %></span><br/>
                    <strong>name</strong>: <span style="word-break:break-all;"><%= facebook_name %></span>
                </p>
                <% if (facebook_token) { %>
                  <a href="/unlink/facebook" class="btn btn-primary" id="facebook.control">Unlink Facebook</a>
                <% } else { %>
                  <a href="/connect/facebook" class="btn btn-primary" id="facebook.control">Connect Facebook</a>
                <% } %>
        </div>
    </div>

    <!-- TWITTER INFORMATION -->
    <div class="col-sm-4">
        <div class="well">
            <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                <p>
                    <strong>id</strong>: <span style="word-break:break-all;"><%= twitter_id %></span><br/>
                    <strong>token</strong>: <span style="word-break:break-all;"><%= twitter_token %></span><br/>
                    <strong>display name</strong>: <span style="word-break:break-all;"><%= twitter_displayName %></span><br/>
                    <strong>username</strong>: <span style="word-break:break-all;"><%= twitter_username %></span>
                </p>

                <% if (twitter_token) { %>
                  <a href="/unlink/twitter" class="btn btn-info" id="twitter.control">Unlink Twitter</a>
                <% } else { %>
                  <a href="/connect/twitter" class="btn btn-info" id="twitter.control">Connect Twitter</a>
                <% } %>

        </div>
    </div>

    <!-- GOOGLE INFORMATION -->
    <div class="col-sm-4">
        <div class="well">
            <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                <p>
                    <strong>id</strong>: <span style="word-break:break-all;"><%= google_id %></span><br/>
                    <strong>token</strong>: <span style="word-break:break-all;"><%= google_token %></span><br/>
                    <strong>email</strong>: <span style="word-break:break-all;"><%= google_email %></span><br/>
                    <strong>name</strong>: <span style="word-break:break-all;"><%= google_name %></span>
                </p>

                <% if (google_token) { %>
                  <a href="/unlink/google" class="btn btn-danger" id="google.control">Unlink Google</a>
                <% } else { %>
                  <a href="/connect/google" class="btn btn-danger" id="google.control">Connect Google</a>
                <% } %>

        </div>
    </div>
</div>
