<td>
<a class="btn btn-xs btn-danger weapon">x</a>
</td>
<td>
<input type="text" class="input-sm weapon" name="name" value="<%= name %>" size="20" />
</td>
<td>
<input type="text" class="input-sm weapon" name="range" value="<%= range %>" size="10" />
</td>
<td>
<input type="text" class="input-sm weapon" name="damage" value="<%= damage %>" size="8" />
</td>
<td>
<input type="text" class="input-sm weapon" name="rof" value="<%= rof %>" size="3" />
</td>
<td>
<input type="text" class="input-sm weapon" name="weight" value="<%= weight %>" size="3" />
</td>
<td>
<input type="text" class="input-sm weapon" name="shots" value="<%= shots %>" size="3" />
</td>
<td>
<input type="text" class="input-sm weapon" name="min_str" value="<%= min_str %>" size="5" />
</td>
<td>
<input type="text" class="input-sm weapon" name="notes" value="<%= notes %>" size="40" />
</td>
