<table class="table-condensed hidden-xs hidden-sm">
  <tr>
    <th>Novice</th>
    <th>Seasoned</th>
    <th>Veteran</th>
    <th>Heroic</th>
    <th>Legendary</th>
  </tr>
  <tr>
    <td align="right">
      <strong>0:</strong> <input type="text" class="input-sm invisible advancement" size="15" disabled="true" /><br/>
      <strong>5:</strong> <input type="text" class="input-sm advancement" name="x5" value="<%= x5 %>" size="15" /><br/>
      <strong>10:</strong> <input type="text" class="input-sm advancement" name="x10" value="<%= x10 %>" size="15" /><br/>
      <strong>15:</strong> <input type="text" class="input-sm advancement" name="x15" value="<%= x15 %>" size="15" />
    </td>
    <td align="right">
      <strong>20:</strong> <input type="text" class="input-sm advancement" name="x20" value="<%= x20 %>" size="15" /><br/>
      <strong>25:</strong> <input type="text" class="input-sm advancement" name="x25" value="<%= x25 %>" size="15" /><br/>
      <strong>30:</strong> <input type="text" class="input-sm advancement" name="x30" value="<%= x30 %>" size="15" /><br/>
      <strong>35:</strong> <input type="text" class="input-sm advancement" name="x35" value="<%= x35 %>" size="15" />
    </td>
    <td align="right">
      <strong>40:</strong> <input type="text" class="input-sm advancement" name="x40" value="<%= x40 %>" size="15" /><br/>
      <strong>45:</strong> <input type="text" class="input-sm advancement" name="x45" value="<%= x45 %>" size="15" /><br/>
      <strong>50:</strong> <input type="text" class="input-sm advancement" name="x50" value="<%= x50 %>" size="15" /><br/>
      <strong>55:</strong> <input type="text" class="input-sm advancement" name="x55" value="<%= x55 %>" size="15" />
    </td>
    <td align="right">
      <strong>60:</strong> <input type="text" class="input-sm advancement" name="x60" value="<%= x60 %>" size="15" /><br/>
      <strong>65:</strong> <input type="text" class="input-sm advancement" name="x65" value="<%= x65 %>" size="15" /><br/>
      <strong>70:</strong> <input type="text" class="input-sm advancement" name="x70" value="<%= x70 %>" size="15" /><br/>
      <strong>75:</strong> <input type="text" class="input-sm advancement" name="x75" value="<%= x75 %>" size="15" />
    </td>
    <td align="right">
      <strong>80:</strong> <input type="text" class="input-sm advancement" name="x80" value="<%= x80 %>" size="15" /><br/>
      <strong>90:</strong> <input type="text" class="input-sm advancement" name="x90" value="<%= x90 %>" size="15" /><br/>
      <strong>100:</strong> <input type="text" class="input-sm advancement" name="x100" value="<%= x100 %>" size="15" /><br/>
      <strong>110:</strong> <input type="text" class="input-sm advancement" name="x110" value="<%= x110 %>" size="15" />
    </td>
  </tr>
</table>


<table class="table-condensed hidden-xs hidden-md hidden-lg">
  <tr>
    <th>Novice</th>
    <th>Seasoned</th>
    <th>Veteran</th>
  </tr>
  <tr>
    <td align="right">
      <strong>0:</strong> <input type="text" class="input-sm invisible advancement" size="15" disabled="true" /><br/>
      <strong>5:</strong> <input type="text" class="input-sm advancement" name="x5" value="<%= x5 %>" size="15" /><br/>
      <strong>10:</strong> <input type="text" class="input-sm advancement" name="x10" value="<%= x10 %>" size="15" /><br/>
      <strong>15:</strong> <input type="text" class="input-sm advancement" name="x15" value="<%= x15 %>" size="15" />
    </td>
    <td align="right">
      <strong>20:</strong> <input type="text" class="input-sm advancement" name="x20" value="<%= x20 %>" size="15" /><br/>
      <strong>25:</strong> <input type="text" class="input-sm advancement" name="x25" value="<%= x25 %>" size="15" /><br/>
      <strong>30:</strong> <input type="text" class="input-sm advancement" name="x30" value="<%= x30 %>" size="15" /><br/>
      <strong>35:</strong> <input type="text" class="input-sm advancement" name="x35" value="<%= x35 %>" size="15" />
    </td>
    <td align="right">
      <strong>40:</strong> <input type="text" class="input-sm advancement" name="x40" value="<%= x40 %>" size="15" /><br/>
      <strong>45:</strong> <input type="text" class="input-sm advancement" name="x45" value="<%= x45 %>" size="15" /><br/>
      <strong>50:</strong> <input type="text" class="input-sm advancement" name="x50" value="<%= x50 %>" size="15" /><br/>
      <strong>55:</strong> <input type="text" class="input-sm advancement" name="x55" value="<%= x55 %>" size="15" />
    </td>
  </tr>
  <tr>
    <th>Heroic</th>
    <th>Legendary</th>
    <th>&nbsp;</th>
  </tr>
  <tr>
    <td align="right">
      <strong>60:</strong> <input type="text" class="input-sm advancement" name="x60" value="<%= x60 %>" size="15" /><br/>
      <strong>65:</strong> <input type="text" class="input-sm advancement" name="x65" value="<%= x65 %>" size="15" /><br/>
      <strong>70:</strong> <input type="text" class="input-sm advancement" name="x70" value="<%= x70 %>" size="15" /><br/>
      <strong>75:</strong> <input type="text" class="input-sm advancement" name="x75" value="<%= x75 %>" size="15" />
    </td>
    <td align="right">
      <strong>80:</strong> <input type="text" class="input-sm advancement" name="x80" value="<%= x80 %>" size="15" /><br/>
      <strong>90:</strong> <input type="text" class="input-sm advancement" name="x90" value="<%= x90 %>" size="15" /><br/>
      <strong>100:</strong> <input type="text" class="input-sm advancement" name="x100" value="<%= x100 %>" size="15" /><br/>
      <strong>110:</strong> <input type="text" class="input-sm advancement" name="x110" value="<%= x110 %>" size="15" />
    </td>
    <td>
      &nbsp;
    </td>
  </tr>
</table>


<table class="table-condensed hidden-sm hidden-md hidden-lg">
  <tr>
    <th>Novice</th>
    <th>Seasoned</th>
  </tr>
  <tr>
    <td align="right">
      <strong>0:</strong> <input type="text" class="input-sm invisible advancement" size="8" disabled="true" /><br/>
      <strong>5:</strong> <input type="text" class="input-sm advancement" name="x5" value="<%= x5 %>" size="8" /><br/>
      <strong>10:</strong> <input type="text" class="input-sm advancement" name="x10" value="<%= x10 %>" size="8" /><br/>
      <strong>15:</strong> <input type="text" class="input-sm advancement" name="x15" value="<%= x15 %>" size="8" /><br/>
    </td>
    <td align="right">
      <strong>20:</strong> <input type="text" class="input-sm advancement" name="x20" value="<%= x20 %>" size="8" /><br/>
      <strong>25:</strong> <input type="text" class="input-sm advancement" name="x25" value="<%= x25 %>" size="8" /><br/>
      <strong>30:</strong> <input type="text" class="input-sm advancement" name="x30" value="<%= x30 %>" size="8" /><br/>
      <strong>35:</strong> <input type="text" class="input-sm advancement" name="x35" value="<%= x35 %>" size="8" /><br/>
    </td>
  </tr>
  <tr>
    <th>Veteran</th>
    <th>Heroic</th>
  </tr>
  <tr>
    <td align="right">
      <strong>40:</strong> <input type="text" class="input-sm advancement" name="x40" value="<%= x40 %>" size="8" /><br/>
      <strong>45:</strong> <input type="text" class="input-sm advancement" name="x45" value="<%= x45 %>" size="8" /><br/>
      <strong>50:</strong> <input type="text" class="input-sm advancement" name="x50" value="<%= x50 %>" size="8" /><br/>
      <strong>55:</strong> <input type="text" class="input-sm advancement" name="x55" value="<%= x55 %>" size="8" /><br/>
    </td>
    <td align="right">
      <strong>60:</strong> <input type="text" class="input-sm advancement" name="x60" value="<%= x60 %>" size="8" /><br/>
      <strong>65:</strong> <input type="text" class="input-sm advancement" name="x65" value="<%= x65 %>" size="8" /><br/>
      <strong>70:</strong> <input type="text" class="input-sm advancement" name="x70" value="<%= x70 %>" size="8" /><br/>
      <strong>75:</strong> <input type="text" class="input-sm advancement" name="x75" value="<%= x75 %>" size="8" /><br/>
    </td>
  </tr>
  <tr>
    <th>Legendary</th>
    <th>&nbsp;</th>
  </tr>
  <tr>
    <td align="right">
      <strong>80:</strong> <input type="text" class="input-sm advancement" name="x80" value="<%= x80 %>" size="8" /><br/>
      <strong>90:</strong> <input type="text" class="input-sm advancement" name="x90" value="<%= x90 %>" size="8" /><br/>
      <strong>100:</strong> <input type="text" class="input-sm advancement" name="x100" value="<%= x100 %>" size="8" /><br/>
      <strong>110:</strong> <input type="text" class="input-sm advancement" name="x110" value="<%= x110 %>" size="8" />
    </td>
    <td>
      &nbsp;
    </td>
  </tr>
</table>
