<td >
  <button class="btn btn-xs btn-danger edge">x</button>
</td>
<td >
  <input type="text" class="input-sm edge hidden-xs" name="name" value="<%= name %>" size="10" />
  <input type="text" class="input-sm edge hidden-sm hidden-md hidden-lg" name="name" value="<%= name %>" size="7" />
</td>
<td >
  <input type="text" class="input-sm edge hidden-xs" name="effect" value="<%= effect %>" size="30" />
  <input type="text" class="input-sm edge hidden-sm hidden-md hidden-lg" name="effect" value="<%= effect %>" size="15" />
</td>
