<td>
  <button class="btn btn-xs btn-danger equipment">x</button>
</td>
<td>
  <input type="text" class="input-sm equipment hidden-xs" name="name" value="<%= name %>" size="35" />
  <input type="text" class="input-sm equipment hidden-sm hidden-md hidden-lg" name="name" value="<%= name %>" size="19" />
</td>
<td>
  <input type="text" class="input-sm equipment hidden-xs" name="weight" value="<%= weight %>" size="5" />
  <input type="text" class="input-sm equipment hidden-sm hidden-md hidden-lg" name="weight" value="<%= weight %>" size="3" />
</td>
