<td class="hidden-xs">
  <button class="btn btn-xs btn-danger power">x</button>
</td>
<td class="hidden-xs">
  <input type="text" class="input-sm power" name="power_points" value="<%= power_points %>" size="3" />
</td>
<td class="hidden-xs">
  <input type="text" class="input-sm power" name="name" value="<%= name %>" size="10" />
</td>
<td class="hidden-xs">
  <input type="text" class="input-sm power hidden-sm" name="trappings" value="<%= trappings %>" size="15" />
  <input type="text" class="input-sm power hidden-lg hidden-md" name="trappings" value="<%= trappings %>" size="10" />
</td>
<td class="hidden-xs">
  <input type="text" class="input-sm power" name="effect" value="<%= effect %>" size="10" />
</td>
<td class="hidden-xs">
  <input type="text" class="input-sm power" name="duration" value="<%= duration %>" size="10" />
</td>
<td class="hidden-xs">
  <input type="text" class="input-sm power hidden-sm" name="notes" value="<%= notes %>" size="40" />
  <input type="text" class="input-sm power hidden-lg hidden-md" name="notes" value="<%= notes %>" size="17" />
</td>


<td colspan="7" class="hidden-sm hidden-md hidden-lg">
  <button class="btn btn-xs btn-danger power">x</button>
  <input type="text" class="input-sm power" name="power_points" value="<%= power_points %>" size="3" placeholder="Pts" />
  <input type="text" class="input-sm power" name="name" value="<%= name %>" size="10" placeholder="Name"/>
  <input type="text" class="input-sm power hidden-lg hidden-md" name="trappings" value="<%= trappings %>" size="10" placeholder="Trappings"/>
  <input type="text" class="input-sm power" name="effect" value="<%= effect %>" size="10" placeholder="Effect"/>
  <input type="text" class="input-sm power" name="duration" value="<%= duration %>" size="10" placeholder="Duration"/>
  <input type="text" class="input-sm power hidden-lg hidden-md" name="notes" value="<%= notes %>" size="18" placeholder="Notes"/>
</td>
