
<div class="row-fluid">
  <div class="col-xs-1"><a class="btn btn-xs btn-danger weapon">x</a></div>
  <div class="col-xs-2" ><strong class="hidden-sm hidden-md hidden-lg">Name</strong><input type="text" class="input-sm weapon" name="name" value="<%= name %>" /></div>
  <div class="col-xs-1" ><strong class="hidden-sm hidden-md hidden-lg">Range</strong><input style="width: 100%;" type="text" class="input-sm weapon" name="range" value="<%= range %>" /></div>
  <div class="col-xs-1" ><strong class="hidden-sm hidden-md hidden-lg">Damage</strong><input style="width: 100%;" type="text" class="input-sm weapon" name="damage" value="<%= damage %>" /></div>
  <div class="col-xs-1" ><strong class="hidden-sm hidden-md hidden-lg">ROF</strong><input style="width: 100%;" type="text" class="input-sm weapon" name="rof" value="<%= rof %>" /></div>
  <div class="col-xs-1" ><strong class="hidden-sm hidden-md hidden-lg">Weight</strong><input style="width: 100%;" type="text" class="input-sm weapon" name="weight" value="<%= weight %>" /></div>
  <div class="col-xs-1" ><strong class="hidden-sm hidden-md hidden-lg">Shots</strong><input style="width: 100%;" type="text" class="input-sm weapon" name="shots" value="<%= shots %>" /></div>
  <div class="col-xs-1" ><strong class="hidden-sm hidden-md hidden-lg">Min Str</strong><input style="width: 100%;" type="text" class="input-sm weapon" name="min_str" value="<%= min_str %>" /></div>
  <div class="col-xs-3" ><strong class="hidden-sm hidden-md hidden-lg">Notes</strong><input style="width: 100%;" type="text" class="input-sm weapon" name="notes" value="<%= notes %>" /></div>
</div>
<!--
<td style="width:2%">
  <a class="btn btn-xs btn-danger weapon">x</a>
</td>
<td style="width:20%">
  <input style="width: 100%;" type="text" class="input-sm weapon" name="name" value="<%= name %>"  />
</td>
<td style="width:10%">
  <input style="width: 100%;" type="text" class="input-sm weapon" name="range" value="<%= range %>"  />
</td>
<td style="width:8%">
  <input style="width: 100%;" type="text" class="input-sm weapon" name="damage" value="<%= damage %>" />
</td>
<td style="width:5%">
  <input style="width: 100%;" type="text" class="input-sm weapon" name="rof" value="<%= rof %>" />
</td>
<td style="width:5%">
  <input style="width: 100%;" type="text" class="input-sm weapon" name="weight" value="<%= weight %>" />
</td>
<td style="width:5%">
  <input style="width: 100%;" type="text" class="input-sm weapon" name="shots" value="<%= shots %>" />
</td>
<td style="width:5%">
  <input style="width: 100%;" type="text" class="input-sm weapon" name="min_str" value="<%= min_str %>" />
</td>
<td style="width:40%">
  <input style="width: 100%;" type="text" class="input-sm weapon" name="notes" value="<%= notes %>"  />
</td>
-->
