<div class="container-fluid" id="weaponTable">
  <div class="row hidden-xs hidden-sm text-center">
    <div class="col-xs-1" ></div>
    <div class="col-xs-2" ><strong class="hidden-xs hidden-sm">Name</strong></div>
    <div class="col-xs-1" ><strong class="hidden-xs hidden-sm">Range</strong></div>
    <div class="col-xs-1" ><strong class="hidden-xs hidden-sm">Damage</strong></div>
    <div class="col-xs-1" ><strong class="hidden-xs hidden-sm">ROF</strong></div>
    <div class="col-xs-1" ><strong class="hidden-xs hidden-sm">Weight</strong></div>
    <div class="col-xs-1" ><strong class="hidden-xs hidden-sm">Shots</strong></div>
    <div class="col-xs-1" ><strong class="hidden-xs hidden-sm">Min Str</strong></div>
    <div class="col-xs-3" ><strong class="hidden-xs hidden-sm">Notes</strong></div>
  </div>
</div>
<a class="btn" id="addWeapon">Add a Weapon...</a>
<!--
<table class="table-condensed" id="weaponTable">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Range</th>
      <th>Damage</th>
      <th>ROF</th>
      <th>Weight</th>
      <th>Shots</th>
      <th>Min Str</th>
      <th>Notes</th>

    </tr>
  </thead>
</table>
-->
