<td class="hidden-xs hidden-sm">
  <button class="btn btn-xs btn-danger weapon">x</button>
</td>
<td class="hidden-xs hidden-sm">
  <input type="text" class="hidden-md input-sm weapon" name="name" value="<%= name %>" size="20" placeholder="Name" />
  <input type="text" class="hidden-lg input-sm weapon" name="name" value="<%= name %>" size="15" placeholder="Name" />
</td>
<td class="hidden-xs hidden-sm">
  <input type="text" class="input-sm weapon" name="range" value="<%= range %>" size="10" placeholder="Range" />
</td>
<td class="hidden-xs hidden-sm">
  <input type="text" class="input-sm weapon" name="damage" value="<%= damage %>" size="8" placeholder="Damage" />
</td>
<td class="hidden-xs hidden-sm">
  <input type="text" class="input-sm weapon" name="rof" value="<%= rof %>" size="3" placeholder="ROF" />
</td>
<td class="hidden-xs hidden-sm">
  <input type="text" class="input-sm weapon" name="weight" value="<%= weight %>" size="3" placeholder="Weight" />
</td>
<td class="hidden-xs hidden-sm">
  <input type="text" class="input-sm weapon" name="shots" value="<%= shots %>" size="3" placeholder="Shots" />
</td>
<td class="hidden-xs hidden-sm">
  <input type="text" class="input-sm weapon" name="min_str" value="<%= min_str %>" size="5" placeholder="Min. Str" />
</td>
<td class="hidden-xs hidden-sm">
  <input type="text" class="hidden-md input-sm weapon" name="notes" value="<%= notes %>" size="40" placeholder="Notes" />
  <input type="text" class="hidden-lg input-sm weapon" name="notes" value="<%= notes %>" size="30" placeholder="Notes" />
</td>

<td colspan="9" class="hidden-lg hidden-md form-horizontal form-group">
  <button class="btn btn-xs btn-danger weapon">x</button>
  <input type="text" class="form-control input-sm weapon" name="name" value="<%= name %>" size="21" placeholder="Name" />
  <input type="text" class="form-control input-sm weapon" name="range" value="<%= range %>" size="10" placeholder="Range" />
  <input type="text" class="form-control input-sm weapon" name="damage" value="<%= damage %>" size="8" placeholder="Damage" />
  <input type="text" class="form-control input-sm weapon" name="rof" value="<%= rof %>" size="3" placeholder="ROF" />
  <input type="text" class="form-control input-sm weapon" name="weight" value="<%= weight %>" size="7" placeholder="Weight" />
  <input type="text" class="form-control input-sm weapon" name="shots" value="<%= shots %>" size="7" placeholder="Shots" />
  <input type="text" class="form-control input-sm weapon" name="min_str" value="<%= min_str %>" size="7" placeholder="Min. Str" />
  <input type="text" class="form-control input-sm weapon" name="notes" value="<%= notes %>" size="24" placeholder="Notes" />
</td>
