<h1><img src="/img/SW_Fan_.gif"/>Savage Worlds Character Manager</h1>
<p>The purpose of this app is to provide Savage Worlds RPG
  players with a simple, easy to use character sheet manager.
  To that end, there is no rules-checking code planned; for
  something like that you should look into the efforts of folks
  like <a href="http://savageoutfitter.com">Savage Outfitter</a>,
  <a href="http://journeymangames.com">Journeyman Games</a>
  (makers of Wild Card Creator), or
  <a href="http://wolflair.com">Lone Wolf Development</a> (makers
  of Hero Lab).</p>

<p>The reason this app exists is because there are a ton of rules
  tweaks in the various Savage Worlds settings, and rules-checking
  software naturally lags behind in implementing them due to various
  reasons -- some legal, some technical, some other. I'm also a big
  fan of form-fillable PDF character sheets, but have had mixed
  results using them on a day to day basis. So I wanted to build
  a site where I could create and manage characters and print them
  out in a visually pleasing fashion for use at the game table.</p>

<p>Eventually we (my partner in crime and I) hope to extend this
  to other RPG systems, but for right now we're focused on making
  something cool for the Savage Worlds folks because that's what
  I'm playing at the moment. So log in with your Facebook, Twitter,
  or Google+ account and get started!</p>
