<table class="table-condensed">
  <tr>
    <th class="text-center">Novice</th>
    <th class="text-center">Seasoned</th>
    <th class="text-center">Veteran</th>
    <th class="text-center">Heroic</th>
    <th class="text-center">Legendary</th>
  </tr>
  <tr>
    <td class="text-right"><strong>0</strong>: <input type="text" class="input-sm invisible advancement" size="20" disabled /></td>
    <td class="text-right"><strong>20</strong>: <input type="text" class="input-sm advancement" name="x20" value="<%= x20 %>" size="20" /></td>
    <td class="text-right"><strong>40</strong>: <input type="text" class="input-sm advancement" name="x40" value="<%= x40 %>" size="20" /></td>
    <td class="text-right"><strong>60</strong>: <input type="text" class="input-sm advancement" name="x60" value="<%= x60 %>" size="20" /></td>
    <td class="text-right"><strong>80</strong>: <input type="text" class="input-sm advancement" name="x80" value="<%= x80 %>" size="20" /></td>
  </tr>
  <tr>
    <td class="text-right"><strong>5</strong>: <input type="text" class="input-sm advancement" name="x5" value="<%= x5 %>" size="20" /></td>
    <td class="text-right"><strong>25</strong>: <input type="text" class="input-sm advancement" name="x25" value="<%= x25 %>" size="20" /></td>
    <td class="text-right"><strong>45</strong>: <input type="text" class="input-sm advancement" name="x45" value="<%= x45 %>" size="20" /></td>
    <td class="text-right"><strong>65</strong>: <input type="text" class="input-sm advancement" name="x65" value="<%= x65 %>" size="20" /></td>
    <td class="text-right"><strong>90</strong>: <input type="text" class="input-sm advancement" name="x90" value="<%= x90 %>" size="20" /></td>
  </tr>
  <tr>
    <td class="text-right"><strong>10</strong>: <input type="text" class="input-sm advancement" name="x10" value="<%= x10 %>" size="20" /></td>
    <td class="text-right"><strong>30</strong>: <input type="text" class="input-sm advancement" name="x30" value="<%= x30 %>" size="20" /></td>
    <td class="text-right"><strong>50</strong>: <input type="text" class="input-sm advancement" name="x50" value="<%= x50 %>" size="20" /></td>
    <td class="text-right"><strong>70</strong>: <input type="text" class="input-sm advancement" name="x70" value="<%= x70 %>" size="20" /></td>
    <td class="text-right"><strong>100</strong>: <input type="text" class="input-sm advancement" name="x100" value="<%= x100 %>" size="20" /></td>
  </tr>
  <tr>
    <td class="text-right"><strong>15</strong>: <input type="text" class="input-sm advancement" name="x15" value="<%= x15 %>" size="20" /></td>
    <td class="text-right"><strong>35</strong>: <input type="text" class="input-sm advancement" name="x35" value="<%= x35 %>" size="20" /></td>
    <td class="text-right"><strong>55</strong>: <input type="text" class="input-sm advancement" name="x55" value="<%= x55 %>" size="20" /></td>
    <td class="text-right"><strong>75</strong>: <input type="text" class="input-sm advancement" name="x75" value="<%= x75 %>" size="20" /></td>
    <td class="text-right"><strong>110</strong>: <input type="text" class="input-sm advancement" name="x110" value="<%= x110 %>" size="20" /></td>
  </tr>
</table>
