<table class="table">
  <tr>
    <th class="text-center">Novice</th>
    <th class="text-center">Seasoned</th>
    <th class="text-center">Veteran</th>
    <th class="text-center">Heroic</th>
    <th class="text-center">Legendary</th>
  </tr>
  <tr>
    <td><strong>0</strong>: <span class="invisible" size="20" disabled /></td>
    <td><strong>20</strong>: <span><%= x20 %></span></td>
    <td><strong>40</strong>: <span><%= x40 %></span></td>
    <td><strong>60</strong>: <span><%= x60 %></span></td>
    <td><strong>80</strong>: <span><%= x80 %></span></td>
  </tr>
  <tr>
    <td><strong>5</strong>: <span><%= x5 %></span></td>
    <td><strong>25</strong>: <span><%= x25 %></span></td>
    <td><strong>45</strong>: <span><%= x45 %></span></td>
    <td><strong>65</strong>: <span><%= x65 %></span></td>
    <td><strong>90</strong>: <span><%= x90 %></span></td>
  </tr>
  <tr>
    <td><strong>10</strong>: <span><%= x10 %></span></td>
    <td><strong>30</strong>: <span><%= x30 %></span></td>
    <td><strong>50</strong>: <span><%= x50 %></span></td>
    <td><strong>70</strong>: <span><%= x70 %></span></td>
    <td><strong>100</strong>: <span><%= x100 %></span></td>
  </tr>
  <tr>
    <td><strong>15</strong>: <span><%= x15 %></span></td>
    <td><strong>35</strong>: <span><%= x35 %></span></td>
    <td><strong>55</strong>: <span><%= x55 %></span></td>
    <td><strong>75</strong>: <span><%= x75 %></span></td>
    <td><strong>110</strong>: <span><%= x110 %></span></td>
  </tr>
</table>
