<td>
  <a class="btn btn-xs btn-danger power">x</a>
</td>
<td>
  <input type="text" class="input-sm power" name="power_points" value="<%= power_points %>" size="3" />
</td>
<td>
  <input type="text" class="input-sm power" name="name" value="<%= name %>" size="10" />
</td>
<td>
  <input type="text" class="input-sm power" name="trappings" value="<%= trappings %>" size="15" />
</td>
<td>
  <input type="text" class="input-sm power" name="effect" value="<%= effect %>" size="10" />
</td>
<td>
  <input type="text" class="input-sm power" name="duration" value="<%= duration %>" size="10" />
</td>
<td>
  <input type="text" class="input-sm power" name="notes" value="<%= notes %>" size="40" />
</td>
